* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100vh; /* 使用 100vh 占满屏幕 */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%; /* 继承 html 的 100vh */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden; /* 防止垂直滚动 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

#app {
  width: 100%;
  height: 100%; /* 继承 body 的高度 */
  overflow: hidden; /* 防止滚动 */
}

/* 隐藏数字输入框右侧的上下箭头 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

/* 针对 antd-mobile Input 组件的数字输入框 */
.adm-input-element[type='number']::-webkit-inner-spin-button,
.adm-input-element[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.adm-input-element[type='number'] {
  -moz-appearance: textfield;
}

